nav {
    margin-left: 10px;
    
}

a {
    color: #161616;
    text-decoration: none;
    padding: 15px
}

a:hover {
    font-weight: bold;
    text-decoration: underline;
}

nav > a:first-of-type {
    margin-left: -15px;
}
.activelink{
    text-decoration: underline;
    color: rgb(8, 76, 88);
    margin-left: 10px;
    font-weight: 600;
}

div{
    margin-left: 10px;
}